# Mall – kopiera till .env och fyll i dina egna nycklar. Committas.
# Kopiera: cp .env.example .env
VISION_ENDPOINT=https://<din-resurs>.cognitiveservices.azure.com/
VISION_KEY=<din-vision-nyckel>
LANGUAGE_ENDPOINT=https://<din-resurs>.cognitiveservices.azure.com/
LANGUAGE_KEY=<din-language-nyckel>
